
.p-component, .p-component * {
  border: none !important;
  border-bottom: 1px solid grey;
}
.expantion_panel{
  margin-top: 83px;
}
.media-exit-send-card1{
  background-color: #e4e4e3;
}
::ng-deep .me-to .p-inputtext{
  width: 100% !important;
  // border-bottom: 1px solid grey !important;
  border-radius: 0;
  border: none;
  background: #e4e4e3;
}
::ng-deep .me-to .p-chips{
  width: 100%;
  border-bottom: 1px solid grey !important;
}
.media-exit-button{
  align-items: center;
  justify-content: center;
}
.me-message ::ng-deep .p-inputtextarea{
  border-bottom: 1px solid grey;
}
::ng-deep .p-dropdown {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
}
::ng-deep .p-calendar{
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
}
.me-search{
  width: 100%;
}
.me-accordion-tab ::ng-deep .p-accordion-content{
  padding: 0;
  margin: -12px 0;
}
.me-accordion-tab ::ng-deep .p-accordion-header .p-accordion-header-link{
  border: none;
  background: #e4e4e3;
}
.me-accordion-tab ::ng-deep .p-accordion-content{
  border: none;
}
.me-message{
  width: 580px;
  height: 150px;
  border: 1px solid black !important;
  border-radius: 0;
}

.me-from{
  border-bottom: 1px solid grey !important;
  border-radius: 0;
  background: #e4e4e3;
}
.me-channel {
  width: 100%;
  border-bottom: 1px solid grey !important;
  border-radius: 0;
}
.me-subject{
  width: 100%;
  border-bottom: 1px solid grey !important;
  border-radius: 0;
}